*{
  padding: 0;
  margin: 0;
}
body{
  
    display: flex;
    flex-direction: row;
    height: 500px;
    align-items: flex-end;
    justify-content: center;
    font-family: 'Poppins';
    font-size: 16px;
    background-color: hsl(0, 100%, 74%);
    background-image:url(bg-intro-desktop.png);
}
.textSection{
  text-align: center;
  justify-content: center;
  align-items: flex-start;
  flex:1;
  color: white;
  font-family: 'Poppins';
  margin:10px;
  padding: 20px;
}
.textSection h2{
  text-align: center;
  font-family: 'Poppins';
  font-size:xx-large;
  font-weight: 700;
}

.formSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  flex:1;
  padding: 20px;
  margin: 10px;

}
.trybtn{
  font-family: 'Poppins';
  flex:1;
  background-color: hsl(248, 32%, 49%);
  margin-bottom: 10px;
  width: 100%;
  border-radius: 10px;
  border: transparent;
  padding: 10px;
  color: white;
}
.form{
  flex: 1;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
 
}
.form input{
  text-align: start;
  font-family: 'Poppins',sans-serif;
  width:93%;
  margin:5px;  
  border-radius: 5px;
  border: 1px solid hsl(246, 25%, 77%);
  padding: 10px;
  
}
.form p{
  color: hsl(246, 25%, 77%);
  font-weight: 400;
  font-size: xx-small;
}

.claimbtn{
  cursor: pointer;
  margin: 5px;
  width: 100%;
  background-color:hsl(154, 59%, 51%);
  color: white;
  font-family: 'Poppins';
  border-radius: 5px;
  border: none;
  text-align: center;
  padding: 10px;
  box-shadow: 0 4px 8px hsl(154, 59%, 51%);
  
 }
 .claimbtn:hover{
  background-color:hsl(154, 59%, 61%);

 }
 