*{
    
    margin: 20px;
    
        font-family: 'Poppins';
        font-size: 16px;
        src: url(https://fonts.google.com/specimen/Poppins);
      
}

    


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    font-family: 'Poppins';
    font-size: 16px;
    
    background-color:hsl(0, 100%, 74%);
    background-image:url(bg-intro-mobile.png);
}
.textSection{
    color: white;
    font-family: 'Poppins';
    justify-self: center;
    align-items: center;
    padding: 10px;
    margin:10px;
  }
  .textSection h2{
    text-align: center;
    font-family: 'Poppins';
    font-size:xx-large;
    
    font-weight: 700;
  }
  p{
    text-align: center;
  }
  .formSection{
    
    padding: 20px;
    margin: 10px;
  
  }
  .form{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
  }
  .form input{
    border-radius: 5px;
    border: 1px solid hsl(246, 25%, 77%);
    /* margin: 0%; */
  }
  
  .form p{
    color: hsl(246, 25%, 77%);
    font-size: xx-small;
    font-weight: 400;
  }
  .try{
    padding: 10px;
    box-shadow: 1px;
  }
  .trybtn{
    font-weight: 400;
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;
    border: transparent;
    padding: 10px;
    margin:10px;
    color: white;
    box-shadow: 0 8px 4px rgba(0,0,0,0.09);
    
  }
  .claimbtn{
    background-color:hsl(154, 59%, 51%);
    color: white;
    font-family: 'Poppins';
    border-radius: 5px;
    border: none;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px hsl(154, 59%, 51%);
    
   }
   
